
.pic-max{width:100%;height:auto;}
.pic-min{width:100px;height:auto;}

/* bill of material */
.link-download{
    margin: 30px;
    font-size: 16px !important;
}
.thead>tr>th{
    font-weight: 700;
    font-size: 20px;
}

/*  */